extends ../../views/layout/layout.pug
block content
    html  
        head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            meta(http-equiv='X-UA-Compatible' content='ie=edge')
            title #{title}
        body
            .container
                table.table
                    tr
                        th Sản Phẩm
                        th Đơn Giá
                        th Số Lượng
                        th Thành Tiền
                        th Thao Tác
                    each item in cart
                        tr
                            td= item.product.nameProduct
                            td= item.product.priceProduct
                            td= item.totalQty
                            td= item.totalQty * item.product.priceProduct
                            td
                                a#btnDel.btn.btn-danger(class="fas fa-trash-alt" href="/delete-product-shopingcart/" + item.product.id)
                button#btnBuyProduct.btn.btn-info Mua Hàng